@charset "UTF-8";

/* ---TAG STYLE RESET------------------------------------------------------------------ */

html{
	height:100%;
	
}

body{
	margin: 0px;
	height:100%;
}

h1,h2,h3,h4,h5,h6{
	margin:0px;
}

ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}

li{
	
}


/* ---MY STYLE CASCADE------------------------------------------------------------------ */
.hidden{
	display: none;
}

/* ---.header------------------------------- */
.header{
	height: 45px;
	position: fixed;
	background: #ffffff;
	width:100%;
	border-bottom: 1px solid #666666;
	top:0px;
}
	.header > h1{
		font-size:14px;
		/* position:relative; */
		height: inherit;
		display: flex;
    	align-items: center;
   		justify-content: center;
	}

	/* ---.main-menu------------------------------- */
	.main-menu{
		position:relative;
		top:-45px;
	}
	
		.main-menu ul{
			display: flex;
			justify-content:space-between;
		
		}
		
			.main-menu li,
			.main-menu a{/* 이렇게 해야 li랑 a랑 사이즈가 맞춰짐 */
				
				width:45px;
				height: 45px; 
				display: flex;
    			align-items: center;
   				justify-content: center;
			}
			
/* ---.main----------------------------- */
.main{
	margin-top:45px;
}	
	.main .note-list{
		font-size: 14px;
		line-heigh:19px;
		color: #595959;
	}
	
		.main .note-list ul{
			
		}
			.main .note-list li{
				padding:15px;
				border-bottom: 1px solid #999;
				
			}
				.note-list li> div:first-child{
					font-size: 17px;
					line-height: 21px;
					color: #000;
				}
				
					.note-list li> div:not(:first-child){
						margin-top:5px;
					}
				.note-list li> div:last-child{
					font-size: 13px;
					display:flex;
					justify-content: space-between;
				}
				.note-list li> div> span:first-child{
					color: #6bacca;
				}
				
					
				